.project{
  position: relative;
  color: white;
  text-align: center;
}

.project .back_image{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.project .image_up_wrapper{
  animation: imagePop 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.project .image_up_wrapper img{
  width: 100vw;
  height: unset;
}

.project .image_up_button{
  background-color: goldenrod;
  color: var(--color-dark_blue);
  padding: 7px 20px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.548);
  position: absolute;
  bottom: 30px;
}

@keyframes imagePop {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.project .content, .project .contentWrapper{
  width: 100vw;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.project .contentBg{
  width: 100vw;
  position: fixed;
  z-index: 1;
  height: 100vh;
  background-color: rgba(27, 30, 50, 0.6);
  backdrop-filter: blur(25px);
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

.project .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.project .header h3{
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

.project .header .headerTop{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project .header .imageSet{
  width: 320px;
  max-width: 90%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(45deg, red, orange, goldenrod, gold, yellow);
  /* box-shadow: 5px 5px 10px black; */
}

.project .header .image{
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.705);
  width: 300px;
  height: 300px;
  max-width: calc(100% - 20px);
  border-radius: 100%;
}

.project .profile{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  border: solid 2px goldenrod;
}

.project .profile img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.project .infos{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.project .infos div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.562); */
  background-color: rgba(27, 30, 50, 0.384);
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.project .infos div h4{
  font-size: 14px;
  color: white;
  fill: white;
}

.project .infos div h4 svg{
  color: white;
}

.project .infos div h3 svg{
  color: goldenrod;
}

.project .infos div p, .infos span{
  font-size: 14px;
}

.project .infos span{
  color: goldenrod;
  font-weight: bolder;
}

.project .buttons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 25px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.project .buttons button{
  background-color: var(--color-dark_blue);
  color: white;
  backdrop-filter: blur(15px);
  border-radius: 100px;
  padding: 10px 0px;
  width: 150px;
  max-width: 150px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.548);
  flex-direction: column;
  letter-spacing: -0.5px;
}

.project .buttons button:first-child{
  background-color: goldenrod;
  color: var(--color-dark_blue);
}

.project .buttons button svg{
  color: white;
}

.project .buttons button:first-child svg{
  color: var(--color-dark_blue)
}

.project .product{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.747);
  color: var(--color-dark_blue);
  padding: 20px;
  box-shadow: inset 0 0 20px rgb(78, 78, 78);
  position: relative;
}

.product svg{
  top: -12px;
  border-radius: 10px;
  width: 24px;
  height: 24px;
}

.product p{
  font-weight: 500;
  border-bottom: solid 1px rgba(0, 0, 0, 0.24);
  padding-bottom: 15px;
}

.product a{
  background-color: goldenrod;
  color: var(--color-dark_blue);
  padding: 7px 20px;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.548);
}

.pageBottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}

.knownMembers{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

.knownMembers > h4{
  border: solid 2px white;
  padding: 5px 10px;
  border-radius: 50px;
}

.knownMembers > h4 span{
  background-color: white;
  color: var(--color-dark_blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 20px;
  min-width: 20px;
  width: max-content;
  line-height: 20px;
}

.knownMembers .members{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
}

.members > div{
  position:relative;
  align-items: center;
}

.memberOffer{
  letter-spacing: -0.5px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 14px;
  color: goldenrod
}

.memberOffer svg{
  color: goldenrod;
  font-size: 0.8rem;
}

.memberTrash{
  position: absolute;
  right: 20px;
}

.memberTrash p.myMemberOffer{
  color: goldenrod;
  font-size: 14px;
  border: solid goldenrod 2px;
  padding: 5px 10px;
  border-radius: 50px;
}

.anonymeMembers{
  color: rgb(165, 165, 165);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.anonymeMembers button{
  background-color:var(--color-dark_blue) ;
  color:goldenrod ;
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.anonymeMembers button svg{
  color: goldenrod
}