@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.logo{
  font-weight: bold;
  font-family: montserrat;
  color: white;
  display: flex;
  /* flex-direction: column; */
  padding: 0;
  min-width: max-content;
  align-items: center;
  transform: translate(0, 5px);
}

.logo h1{
  font-size: 24px;
  color: goldenrod;
}

.logo h1 span{
  color: white;
  display: block;
  transform: translate(10px, -15px);
  opacity: 0.6;
}

.logo h1 p{
  display: block;
  transform: translate(15px, -30px);
  opacity: 0.8;
  display: none;
}