.hero{
  width: 100%;
  height: calc(100vh - 130px);
  background-color: rgb(11, 12, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero h2{
  font-size: 48px;
  text-align: justify;
}